<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serveur Express</title>
</head>
<body>

    <%- include('./partials/nav.ejs'); %>
    <h1>Mon View</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eligendi quaerat porro. Dolorem officiis incidunt facere libero repellendus ducimus cupiditate? Fugit suscipit asperiores molestiae placeat? Ipsa eius enim neque velit?</p>
    <%- include('./partials/footer.ejs'); %>

</body>
</html>